@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	font-family: 'Poppins', sans-serif;
}

html,
body {
	height: 100%;
}

.slow_transition {
	transition: all 0.2s ease-in-out !important;
}

/* #__next {
	min-height: 100vh;
} */

.bg-img {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

/* For Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.dropdown-options {
	padding: 0.75rem;
}
.dropdown-options:hover {
	background-color: #e4e4e4;
	font-weight: bold;
}

#react-select-2-input {
	min-height: 35px !important;
	outline: none !important;
	border: none !important;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f193; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #8181813b; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #55555594; 
}

.markdown h1 {
	margin-bottom: 25px;
	font-size: 24px;
}
.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
	font-size: 20px;
	font-weight: bold;
}

.markdown p, .markdown ol, .markdown li {
	margin-bottom: 15px;
	font-size: 0.875rem !important;
}